<%= link_to "Give/Take Points", new_point_path %>
<div id="points-list">
  <% if @point_deltas.any? %>
    <%= render @point_deltas %>
  <% else %>
    <p class="info">No one has any points yet.</p>
  <% end %>
</div>